.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: linear-gradient(#eee9ce, #eadc8c);
}

.headings > h1 {
  color: #03203c;
  font-size: 3.6rem;
  text-align: center;
}

.headings > h3 {
  color: #7c7800;
  font-size: 1.5rem;
  text-align: center;
}

.btn {
  background-color: white;
  color: #03203c;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #03203c;
  cursor: pointer;
  box-shadow: #c7c11a 0px 7px 12px 1px;
}

.btn:hover {
  background-color: #03203c;
  color: white;
  box-shadow: none;
}

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  position: relative;
}

.cta > h4 {
  position: inherit;
  bottom: -16px;
  left: 2px;
  color: #03203c;
  text-decoration: underline;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cta {
    flex-direction: column;
    gap: 0;
  }
}
