.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  padding: 100px 8px 10px 8px;
  height: 100vh;
  width: 100vw;
}

.filterArea,
.cartArea,
.productsArea,
.previewArea {
  height: 80vh;
  box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
}

.filterArea,
.cartArea {
  flex: 0.23;
}

.productsArea {
  flex: 0.5;
}

.previewArea {
  flex: 0.73;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    /* width: 100vw; */
    overflow: hidden;
    gap: 1.5rem;
  }
  .productsArea {
    width: 80vw;
  }
  .previewArea {
    width: 90vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    flex-direction: column;
    height: fit-content;
    gap: 1.5rem;
  }
  .productsArea {
    width: 80vw;
  }
}
